
<% include ../layout/header %>

<div class="editProfile">
			<div class="jumbotron" >
				<div class="container">
					<h1 style="float: left; padding-top: 40px;">Hello, <%= user.name%>!</h1>
			 	   	<img class="img-circle" src="/user_uploads/<%= user.profilephoto %>" alt="Generic placeholder image" width="300" height="300" style="float: right; margin: 10px;">

					<form id="uploadForm" enctype="multipart/form-data" method="POST" action="/users/updateProfilePhoto" style="margin-top: 150px;">
							<input type="file" class="form-control btn" name="userPhoto" style="margin-top: 4px; max-width: 400px;">
							<button type="submit" value="Upload Image" class="btn btn-success" style="margin: 10px;">Update profile photo</button>	
					</form>
					<br>
					<form style="width: 400px;" method="post" action="/users/saveChanges">
				 	   		<input type="email" name="email" class="form-control" placeholder="ex: mohab@gmail.com" style="max-width: 250px;" value="<%= user.email %>">
				 	   		<br>
				 	   		<% if(user.phone==="no phone") { %>
				 	   			<input type="text" name="phone" class="form-control" placeholder="ex: 01064911012" style="max-width: 150px;">
				 	   		<% } else { %>
				 	   			<input type="text" name="phone" class="form-control" placeholder="ex: 01064911012" style="max-width: 150px;" value="<%= user.phone %>">
				 	   		<% } %>
				 	   	 	<br>
				 	   	 	<input type="date" name="birthdate" class="form-control" value="<%= user.birthdate %>">
				 	   	 	<br>
				 	   	 	<select class="form-control" name="gender" required>
					        	<option value="<%= user.gender %>" selected style="display:none;"><%= user.gender || "choose gender" %></option>
					  		    <option value="male">male</option>
					  		    <option value="female">female</option>
					  		    <option value="other">other</option>
					  		</select>
				 	   	 	<br>
				 	   	 	<select class="form-control" name="major" required>
					        	<option value="<%= user.major %>" selected style="display:none;"><%= user.major || "choose a major" %></option>
					  		    <option value="met">MET</option>
					  		    <option value="iet">IET</option>
					  		</select>
					  		<br>
					  		<select class="form-control" name="year" required>
					        	<option value="<%= user.year %>" selected style="display:none;"><%= user.year || "choose a year" %></option>
					  		    <option value="1st">1st</option>
					  		    <option value="2nd">2nd</option>
					  		    <option value="3rd">3rd</option>
					  		    <option value="4th">4th</option>
					  		    <option value="5th">5th</option>
					  		</select>
					  		<br>
				 	   		<div class="form-control" onkeyup="updatehidden()" style="min-width: 500px; min-height: 150px;" id='faketxt' contenteditable>
				 	   	 		<% if(user.summary!=null && user.summary!="") { %>
				 	   	 		<%= user.summary %>
				 	   	 		<% } else { %>
				 	   	 		<span style="color: gray; font-style: italic;">write a summary about yourself..</span>
				 	   	 		<% } %>
				 	   	 	</div>
			 	   	 		<textarea id="hiddentxt" style="display: none;" name="userDesc"></textarea>
			 	   	 		<br>
				 	   		<input type="submit" class="btn btn-success" value="Save Changes" style=" position: relative;">
				 	   		<a href="/users/viewprofile/<%=user.id%>" class="btn btn-">Cancel</a>
				 	</form>
				 	<br>
				</div>
			 	   
			 	<br>

				<form method="POST" action="/users/addTags">

					   	 	<% user.tags.forEach(function(tag) { %>
				 	   	 		<a style="margin: 5px;cursor:pointer; color:blue; text-align: center;" href="/users/searchShort/<%= tag %>">#<%= tag %></a>
				 	   	 	<% }); %>
				 	   	 	<br>
				 	   	 	<br>
				 	   	 	<input id="hiddentxt" class="form-control" name="tags" placeholder="php, java, development">

							<button type="submit" class="btn btn-success" style="margin: 10px;">Add Tags</button>	
				</form>

		    </div>
			

		    <div class="container" style="border: 2px solid grey;
		    	border-radius: 5px;">
		    	<br>
			  <h2>Organizations</h2>
			  <br>
			  <table class="table">
			    <thead>
			      <tr>
			        	<th style="width: 10%;"></th>
						<th style="width: 20%;">Name</th>
						<th style="width: 20%;">Department</th>
						<th style="width: 20%;">Role</th>
						<th style="width: 15%;">Rating</th>
						<th style="width: 15%;">Review</th>
						<th style="width: 20%;">Comment</th>
						<th style="width: 10%;">Action</th>

			      </tr>
			    </thead>
			    <tbody id="organizationsBody">
<!-- 			    	<% user.organizations.forEach(function(organization, index) { %>
		    			<tr>
		    				<td>#<%= index %></td>
			    			<td><%= organization.name %></td>
			    			<td><%= organization.role %></td>
			    			<td><%= organization.rating %></td>
			    			<td><%= organization.review %></td>
			    			<td><%= organization.comment || "no comment" %></td>
			    			<td>
			    				<form method="post" action="/users/deleteOrganization/<%= organization._id %>">
			    					<input type="submit" class="btn btn-success" value="Delete" style="margin: 10px;"/>
			    				</form>
			    			</td>
		    			</tr>
		    		<% }); %> -->
		    		<tr>
		    			<form method="post" action="/users/addOrganization/" >
		    				<td>#</td>
			    			<td><input type="text" name="name" class="form-control" required placeholder="Google"></td>
			    			<td><input type="text" name="department" class="form-control" required placeholder="software engineering"></td>
			    			<td><input type="text" name="role" class="form-control" required placeholder="senior developer"></td>
			    			<td><input type="text" name="rating" class="form-control" disabled placeholder="no rating"></td>
			    			<td><input type="text" name="review" class="form-control" disabled placeholder="no review"></td>
			    			<td><input type="text" name="comment" class="form-control" placeholder="any comment"></td>
			    			<td>
			    				<input type="submit" class="btn btn-success" value="Add" style="margin: 10px;"/>
			    			</td>
		    			</tr>
			    </tbody>
			  </table>
			</div>

		    <br>
		    <div class="row">
			   	<div class="col-xs-8 col-lg-6" style="border: 2px solid grey;
		    	border-radius: 5px;  max-width: 45%; margin-right: 5%; margin-left: 2%;">
			    	<h3>Links</h3>
			    	<table>
			    		<tr>
				    		<div class="container">
				    		<ul>
				    			<%;
				    			user.links.forEach(function(link){ %>
				    			<div class="row">
				    				<li  style="padding: 5px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
				    					<span style="color:black; font-size: 30px; margin-right: 5px;">
				    						<%= link.name %>:
				    					</span>
				    					<span onclick="redirectToLink('<%= link.url %>')" style="cursor:pointer; color:blue; font-size: 20px; text-decoration: underline;
				    					">
				    						<%= link.url %>
				    					</span>
				    					<form method="POST" action="/users/deletelink/<%= link.url %>">
							    			<button type="submit" class="btn" style="">Delete</button>
							    		</form>
				    				</li>
				    			</div>

				    			<% }); %>
				    		</ul>
					    		<form method="POST" action="/users/addlink">
					    			<input type="text" name="reponame" class="form-control" placeholder="repo name">
					    			<br>
						    		<input type="text" name="newlink" class="form-control" placeholder="http://mywebsite.com">
						    		<button type="submit" class="btn btn-success" style="margin: 10px;">Add Link</button>	
					    		</form>
				    		</div>
			    		</tr>
			    	</table>
			    	
			    </div>

			    <div class="col-xs-8 col-sm-6" style="border: 2px solid grey;
		    	border-radius: 5px; max-width: 45%;">
			    	<h3>Screenshots</h3>
			    	<table>
			    		<tr>
				    		<div class="container">
				    			<% user.photos.forEach(function(photo){ %>
				    				<img style="max-width:250px; margin: 5px;" src="/user_uploads/<%= photo.src %>">
				    				<h5 style="text-overflow: ellipsis; max-width: 100px;white-space: nowrap;
			  						overflow: hidden; "><%= photo.name %></h5>
				    				<form method="POST" action="/users/deletescreenshot/<%= photo.src %>" >
					    				<button type="submit" class="btn" style="float: right;">Delete</button>
					    			</form>
				    			<% }); %>
				    			<form id="uploadForm" enctype="multipart/form-data" method="POST" action="/users/addscreenshot" >
						    		<input type="text" class="form-control" name="photoName" placeholder="catpic">
									<input type="file" class="form-control btn" name="userPhoto" style="margin-top: 4px;">
						    		<button type="submit" value="Upload Image" class="btn btn-success" style="margin: 10px;">Add Screenshot</button>	
					    		</form>		    		
				    		</div>
			    		</tr>
			    	</table>
			    </div>
		    </div>
</div>
<% include ../layout/footer %>

<script type="text/javascript">
	var redirectSignIn = function() {
		window.location.href = '/users/signin'; 
	}
	var redirectToLink = function(link) {
		console.log(link);
		window.open(link,'_blank');
	}
	var updatehidden = function() {
		document.getElementById('hiddentxt').innerText = document.getElementById('faketxt').innerText;
	}

	var url = $(location).attr('href').split('/');
	var userID = url[url.length-1];
	$.post('/users/getOrganizations/'+userID, function(myMembers) {
		var html = "";
		myMembers.forEach(function(memberObj, index) {
		    html += '<tr id=\"'+memberObj._id+'\"><td>#'+index+'</td>'
			    + '<td>'+memberObj.club+'</td>'
			    + '<td>'+memberObj.departmentName+'</td>'
			    + '<td>'+memberObj.role+'</td>'
			    + '<td>'+memberObj.rating+'</td>'
			    + '<td>'+memberObj.review+'</td>';
			    if(memberObj.comment!=null)
			    	html+= '<td>'+memberObj.comment +'</td>';
			    else
			       	html+= '<td>no comment</td>';
			    html +='<td><button class=\"btn btn-success deleteDepartmentClass\" style=\"margin: 10px;\">Delete</button></td></tr>';
			});
		$('#organizationsBody').append(html);
		appendDeleteAction();
	});

	var appendDeleteAction = function(){
		$('.deleteDepartmentClass').click(function() {
			var row = $(this).parent().parent();
			var memberID = $(this).parent().parent().attr('id');
			$.post('/users/deleteOrganization/'+memberID, function(data) {
				console.log(data)
				if(data=="ok") {
					console.log(row.attr('id'))
					row.hide('slow', function(){ row.remove(); });

				}
			});
		});
	}
</script>
