<% include ../layout/header %>

<div style="margin-top: 40px;">
	<div class="col-lg-1"></div>
	<div class="row col-lg-10" style="padding: 50px; align-self: center;">
		<% clubs.forEach(function(club) { %>
			<div class="col-lg-3 portfolio-item" style="padding: 10px;">
	 	   		<img class="img-circle" src="/club_uploads/<%= club.logo %>" alt="Generic placeholder image" width="200" height="180" style="align-self: center;">
				<h2 style="text-align: center;"><a href="/clubs/viewClub/<%= club.userid %>"><%= club.name %></a>
				</h2>
	        </div>

		<% }); %>
	</div>

</div>
<% include ../layout/footer %>

<style type="text/css">
	a {
		color: gray;
	}
	a:hover {
		color: #128F76;
	}
</style>