<% include ../layout/header %>
<div class="jumbotron editclubstructre" >

	<div class="container">
		<h1 style="float: left; padding-top: 40px;">Hello, <%= clubRes.name%>!</h1>
		<% if(clubRes.logo!=null && clubRes.logo!="") { %>
 	   		<img class="img-circle" src="/club_uploads/<%= clubRes.logo %>" alt="Generic placeholder image" width="300" height="300" style="float: right; margin: 10px;">

		<% } else { %>
 	   		<img class="img-circle" src="/user_uploads/koushi-1487686809628.jpg" alt="Generic placeholder image" width="300" height="300" style="float: right; margin: 10px;">

		<% } %>

 	   	<form id="uploadForm" enctype="multipart/form-data" method="POST" action="/clubs/updateLogo" style="margin-top: 150px;">
			<input type="file" class="form-control btn" name="userPhoto" style="margin-top: 4px; max-width: 400px;">
			<input type="submit" value="Upload Logo" class="btn" style="margin: 10px;">	
		</form>	
	</div>

	<div class="container-fluid">
		<div class="row row-eq-height" style="margin-left: 30%;">
			<div class="singleDepartment col-xs-4">

						<% if(clubRes.president!=null && clubRes.logo!="") { %>
				 	   		<img class="img-circle" src="/club_uploads/<%= clubRes.logo %>" alt="Generic placeholder image" width="200" height="185">

						<% } else { %>
				 	   		<img class="img-circle" src="/user_uploads/koushi-1487686809628.jpg" alt="Generic placeholder image" width="200" height="185">
						<% } %>

						<h4 <%if(clubRes.president.profileId!="none") { %> 
								class="clickableh2" id="<%= clubRes.president.profileId %>"
								style="cursor:pointer; color:gray; margin-left: 30px;" 
							<% } else { %>
							style="color:gray; margin-left: 30px;"
							<% } %>
							>		
							<%= clubRes.president.name %>
						</h4>
						<div class="container president" style="min-width: 220px;">
							<form method="POST" action="/clubs/addpresident" style="max-width: 200px;">
								<input type="text" name="presidentID" class="form-control" placeholder="34-5862">
								<input type="text" name="presidentName" class="form-control" placeholder="mohab amr">
								<input type="submit" class="btn" style="margin: 10px;" value="Add President">	
							</form>
						</div>
			</div>
		</div>

		<div class="deps row row-eq-height">
			<%  clubRes.departments.forEach(function(department) { %>
				<div class="singleDepartment col-xs-4" name="<%= department.name %>" id="<%= department._id %>">
					<img class="img-circle" src="/user_uploads/koushi-1487686809628.jpg" alt="Generic placeholder image" width="180" height="160">
					<h4 style="color:gray; margin-left: 30px;"><%= department.name %></h4>
					<div style="vertical-align: top; margin-left: 30px;" class="nameRating">
						<h4 <%if(department.head.profileId!="none") { %> 
								class="clickableh2" id="sssx"
								style="cursor:pointer; color:gray;" 
							<% } else { %>
							style="color:gray;"
							<% } %>
							>		
							<%= department.head.name %>
						</h4>
						<% include ../layout/rating %>
		
					</div>
					
					<div class="deleteDiv">
						<form method="post" action="/clubs/deleteDepartment/<%= department._id %>">
							<input type="submit" class="btn" style="margin: 10px;" value="Delete Department">	
						</form>
					</div>
					<div class="addmember">
						<form method="POST" action="/clubs/addMember/<%= department._id %>" style="max-width: 200px;">
							<input type="text" name="memberID" class="form-control" placeholder="34-5862">
							<input type="text" name="memberName" class="form-control" placeholder="mohab amr">
							<input type="submit" class="btn" style="margin: 10px;" value="Add Member">	
						</form>
					</div>
					<% department.members.forEach(function(member) { %>
						<div style="vertical-align: top; margin-left: 30px; font-size: 10px;" class="nameRating">
							<h4 <%if(member.profileId!="none") { %> 
									class="clickableh2" id="<%= member.profileId %>"
									style="cursor:pointer; color:gray;" 
								<% } else { %>
								style="color:gray;"
								<% } %>
								objid= "<%= member._id %>"
								>
								<%= member.name %>
							</h4>
							<div rating="<%= member.rating %>">
							<% include ../layout/rating %>
							</div>
						</div>
					<% }); %>
				</div>
			<%  }) %>
			<div class="singleDepartment col-lg-3">
				<form method="POST" action="/clubs/addDepartment" style="max-width: 200px;">
					<img class="img-circle" src="/user_uploads/koushi-1487686809628.jpg" alt="Generic placeholder image" width="180" height="160">
					<br>
					<br>
					<h4 class="clickableh2" id="<%= %>" style="cursor:pointer; color:gray; margin-left: 30px;">New Deartment</h4>
					<input type="text" name="departmentName" class="form-control" placeholder="Media">
					<input type="text" name="headID" class="form-control" placeholder="34-5862">
					<input type="text" name="departmentHead" class="form-control" placeholder="mohab amr">
					<input type="submit" class="btn" style="margin: 10px;" value="Add Dpartment">	
				</form>
			</div>

		</div>

		<form method="POST" action="/clubs/updateMembers" style="width: 150px; float: right;">
			<button type="submit" class="btn form-control btn-success" style="margin: 10px;">Update Members</button>	
		</form>
	</div>


	<br>
	<br>
	<div class="row">
	   	

	    <div class="col-xs-8 col-sm-12" style="border: 2px solid grey; border-radius: 5px; max-width: 100%;">
	    	<h3>Gallery</h3>
	    	<br>
	    	<table>
	    		<tr>
		    		<div class="container" >
		    			<% user.photos.forEach(function(photo){ %>
		    				<img style="max-width:400px; margin: 5px;" src="/club_uploads/<%= photo.src %>">
		    				<h5 style="text-overflow: ellipsis; max-width: 200px;white-space: nowrap;
	  						overflow: hidden; "><%= photo.name %></h5>
		    			<% }); %>
		    			<form id="uploadForm" enctype="multipart/form-data" method="POST" action="/clubs/addPhoto" >
							<input type="text" class="form-control" name="photoName" placeholder="catpic">
							<input type="file" class="form-control btn" name="userPhoto" style="margin-top: 4px;">
							<button type="submit" value="Upload Image" class="btn btn-success" style="margin: 10px;">Add Photo</button>	
					   	</form>			    		
		    		</div>
	    		</tr>
	    	</table>
	    </div>
    </div>

</div>
<% include ../layout/footer %>

<style type="text/css">
	.row {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:         flex;
	  flex-wrap: wrap;
	}
	.row > [class*='col-'] {
	  display: flex;
	  flex-direction: column;
	}
	.singleDepartment {
		margin-bottom: 30px;
	}
</style>

<link href="/css/rating.css" rel="stylesheet">

<script type="text/javascript">
	var h2s = document.getElementsByClassName('clickableh2');

	Array.prototype.forEach.call(h2s, function(el) {
	    el.onclick=function() {
			window.location = "/users/viewprofile/"+el.id;
		}
	});
	$("label").click(function(){
		$(this).parent().find("input").nextAll().css({"color": "#ddd"});
	  	$(this).css({"color": "#FFD700"});
	  	$(this).nextAll().css({"color": "#FFD700"});

	  	//.rating > input:checked ~ label, /* show gold star when clicked */

	  	var myelement = $(this).prev();

	  	console.log($(this).prev().val())
	  	var rating = myelement.val();
	  	var memberID = myelement.parent().parent().parent().find("h4").attr('id');
		var departmentName = myelement.parent().parent().parent().parent().attr('name');
		var departmentID = myelement.parent().parent().parent().parent().attr('id');
		var objID = myelement.parent().parent().parent().find("h4").attr('objid');
		var newUrl = "/clubs/rateMember/"+departmentID+"/"+memberID+"/"+objID+"/"+rating;
		console.log(newUrl)
		window.location = newUrl;
	});


	  $("fieldset").each(function(i) {
	  	var rating = $(this).parent().attr('rating');
	    console.log(rating);
	    if(!rating)
	    	rating="0";
	    var inputElement = $(this).find("[value="+rating+"]");
	    $(this).find("input").nextAll().css({"color": "#ddd"});
	    inputElement.css({"color": "#FFD700"});
	  	inputElement.nextAll().css({"color": "#FFD700"});
	    console.log($(this).find("[value="+rating+"]").val());
	  });

</script>