<% include ../layout/header %>
<div class="jumbotron editclubstructre" style="max-width: 1200px; margin-left: auto;margin-right: auto;">

	<div class="container">
		<h1 style="padding-top: 40px; color: black; float: left;">
			Hello, <%= club.name%>!
			<hr style="color: black; border: 2px solid black;">
			<form method="POST" action="/clubs/updateMembers/<%= club._id %>" style="max-width: 200px;">
				<button type="submit" class="btn form-control btn-success btn-lg" style="height: 60px;">Update Members</button	
			</form>
		</h1>
		<div style="float: right;">	
			<div class="img-edit" style="max-width: 300px; max-height: 250px;">
		 	   	<img class="img-circle hover" src="/club_uploads/<%= club.logo %>" alt="Generic placeholder image" width="300" height="250" >
				<p class="text">Change<span class="glyphicon glyphicon-open" aria-hidden="true" style="margin-left: 10px;"></span></p>
			</div>

			<form id="uploadForm" enctype="multipart/form-data" method="POST" action="/clubs/updateLogo" style="align-self: center;">
				<input type="file" id="fileUpload" class="form-control btn" name="userPhoto" style="display: none;">
				<button type="submit" value="Upload Image" class="btn btn-success" style="margin-left: 35%;margin-right: auto; align-self: center;">Update logo</button>	
			</form>
		</div>	
	</div>
	<hr>
	<div class="container-fluid"  style="margin-left: auto;margin-right: auto;">

		<div class="row row-eq-height">
			<div class="singleDepartment col-xs-4" style="margin-left: auto;margin-right: auto;">
			<h3 style="text-align: center;">
			Structre
			<br>
			<br>
			<div style="margin-left: auto;margin-right: auto; max-width: 300px; text-align: center;">
						Prisedent
						<br>
						<% if(club.president!=null && club.logo!="") { %>
				 	   		<img class="img-circle" src="/club_uploads/<%= club.logo %>" alt="Generic placeholder image" width="200" height="185">

						<% } else { %>
				 	   		<img class="img-circle" src="/user_uploads/koushi-1487686809628.jpg" alt="Generic placeholder image" width="200" height="185">
						<% } %>

						<h4 <%if(club.president.profileId!="none") { %> 
								class="clickableh2" id="<%= club.president.profileId %>"
								style="cursor:pointer; color:gray; margin-left: 30px;" 
							<% } else { %>
							style="color:gray; margin-left: 30px;"
							<% } %>
							>		
							<%= club.president.name %>
						</h4>
						<div class="container president" style="min-width: 220px;">
							<form method="POST" action="/clubs/addpresident" >
								<input type="text" name="presidentID" class="form-control" placeholder="34-5862">
								<input type="text" name="presidentName" class="form-control" placeholder="mohab amr">
								<input type="submit" class="btn" style="margin: 10px;" value="Add President">	
							</form>
						</div>
			</div>
			</div>
			</h3>
			<br>
			
		</div>

		<div class=" row row-eq-height">
			<%  departments.forEach(function(department) { %>
				<div class="singleDepartment col-xs-4" name="<%= department.name %>" id="<%= department._id %>" >
				<div style="margin-left: auto;margin-right: auto; max-width: 300px;" >
					<img class="img-circle" src="/user_uploads/koushi-1487686809628.jpg" alt="Generic placeholder image" width="180" height="160">
					<h4 style="color:gray; margin-left: 30px;"><%= department.name %></h4>
					<div style="vertical-align: top; margin-left: 30px;" class="nameRating">
						<h4 <%if(department.head.profileId!="none") { %> 
								class="clickableh2" id="sssx"
								style="cursor:pointer; color:gray;" 
							<% } else { %>
							style="color:gray;"
							<% } %>
							>		
							<%= department.head.name %>
						</h4>
						<% include ../layout/rating %>
		
					</div>
					
					<div class="deleteDiv">
						<form method="post" action="/clubs/deleteDepartment/<%= department._id %>">
							<input type="submit" class="btn" style="margin: 10px;" value="Delete Department">	
						</form>
					</div>
					<% if(department.nestedType=="true") { %>
						<br>
						<% department.subDepartments.forEach(function(subdepartment) { %>
							<div class="singleDepartment">
								<img class="img-circle" src="/user_uploads/koushi-1487686809628.jpg" alt="Generic placeholder image" width="180" height="160">
								<h4 style="color:gray; margin-left: 30px;"><%= subdepartment.name %></h4>
								<div style="vertical-align: top; margin-left: 30px;" class="nameRating">
									<h4 <%if(subdepartment.head.profileId!="none") { %> 
											class="clickableh2" id="sssx"
											style="cursor:pointer; color:gray;" 
										<% } else { %>
										style="color:gray;"
										<% } %>
										>		
										<%= subdepartment.head.name %>
									</h4>
									<% include ../layout/rating %>
					
								</div>
								<br>
								<br>
								<div id="<%= subdepartment._id %>">
									<% subdepartment.members.forEach(function(member) { %>
										<div style="vertical-align: top; margin-left: 30px; font-size: 10px;" class="nameRating" nested="nested">
											<h4 <%if(member.profileId!="none") { %> 
													class="clickableh2" id="<%= member.profileId %>"
													style="cursor:pointer; color:gray;" 
												<% } else { %>
												style="color:gray;"
												<% } %>
												objid= "<%= member._id %>"
												>
												<%= member.name %>
											</h4>
											<div rating="<%= member.rating %>">
											<% include ../layout/rating %>
											</div>
										</div>
										<br>
									<% }); %>
								</div>
								<div class="addmember">
									<form method="POST" action="/clubs/addMember/<%= department._id %>/<%= subdepartment._id %>" style="max-width: 200px;">
										<input type="text" name="memberID" class="form-control" placeholder="34-5862">
										<input type="text" name="memberName" class="form-control" placeholder="mohab amr">
										<input type="submit" class="btn" style="margin: 10px;" value="Add Member">	
									</form>
								</div>
							</div>
						<% }); %>
						<button type="button" class="btn btn-default showAddSub" aria-label="Left Align">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add
						</button>
						<div class="singleDepartment" style="display: none;">
							<form method="POST" action="/clubs/addSubDepartment/<%= department.id %>" style="max-width: 200px;">
								<img class="img-circle" src="/user_uploads/koushi-1487686809628.jpg" alt="Generic placeholder image" width="160" height="140">
								<br>
								<br>
								<h4 class="clickableh2" id="<%= %>" style="cursor:pointer; color:gray; margin-left: 30px;">New SubDeartment</h4>
								<input type="text" name="subdepartmentName" class="form-control" placeholder="Media">
								<input type="text" name="subheadID" class="form-control" placeholder="34-5862">
								<input type="text" name="subdepartmentHead" class="form-control" placeholder="mohab amr">
								<div style="width: 100%; font-size: 20px;">
									Public
									<input type="checkbox" class="checkbox form-control" style="max-width: 25px; max-height: 25; float: right;" checkboxVal="false">
									<input type="text" class="checkboxVal" name="subdepartmentPublic" style="display: none;" checkboxVal="false" value="false">
								</div>
								<input type="submit" class="btn" style="margin: 10px;" value="Add SubDepartment">	
							</form>
						</div>
					<% } else { %>
						<div class="addmember">
							<form method="POST" action="/clubs/addMember/<%= department._id %>" style="max-width: 200px;">
								<input type="text" name="memberID" class="form-control" placeholder="34-5862">
								<input type="text" name="memberName" class="form-control" placeholder="mohab amr">
								<input type="submit" class="btn" style="margin: 10px;" value="Add Member">	
							</form>
						</div>					
					<% } %>

					<% department.members.forEach(function(member) { %>
						<div style="vertical-align: top; margin-left: 30px; font-size: 10px;" class="nameRating">
							<h4 <%if(member.profileId!="none") { %> 
									class="clickableh2" id="<%= member.profileId %>"
									style="cursor:pointer; color:gray;" 
								<% } else { %>
								style="color:gray;"
								<% } %>
								objid= "<%= member._id %>"
								>
								<%= member.name %>
							</h4>
							<div rating="<%= member.rating %>">
							<% include ../layout/rating %>
							</div>
						</div>
					<% }); %>
				</div>
				</div>
			<%  }) %>
			
		<div class="singleDepartment col-xs-4">
				<form method="POST" action="/clubs/addDepartmentNew" style="max-width: 200px; margin-left: auto;margin-right: auto;">
					<img class="img-circle" src="/user_uploads/koushi-1487686809628.jpg" alt="Generic placeholder image" width="180" height="160">
					<br>
					<br>
					<h4 class="clickableh2" id="<%= %>" style="cursor:pointer; color:gray; margin-left: 30px;">New Deartment</h4>
					<input type="text" name="departmentName" class="form-control" placeholder="Media">
					<input type="text" name="headID" class="form-control" placeholder="34-5862">
					<input type="text" name="departmentHead" class="form-control" placeholder="mohab amr">
					<div style="width: 100%; font-size: 20px;">
						Public
						<input type="checkbox" class="checkbox form-control" style="max-width: 25px; max-height: 25; float: right;" checkboxVal="false">
						<input type="text" class="checkboxVal" name="departmentPublic" style="display: none;" checkboxVal="false" value="false">
					</div>
					<div style="width: 100%; font-size: 20px;">
						Nested
						<input type="checkbox" class="checkboxNested form-control" style="max-width: 25px; max-height: 25; float: right;" checkboxVal="false">
						<input type="text" class="checkboxVal" name="departmentNested" style="display: none;" checkboxVal="false" value="false">
					</div>
					<input type="submit" class="btn" style="margin: 10px;" value="Add Department">	
				</form>
		</div>
		</div>

	</div>


	<br>
	<br>
	<div class="row">
	   	

	    <div class="col-xs-8 col-sm-12" style="border: 2px solid grey; border-radius: 5px; max-width: 800px; margin-left: auto;margin-right: auto;">
	    	<h3>Gallery</h3>
	    	<br>
	    	<table>
	    		<tr>
		    		<div class="container" >
		    			<% user.photos.forEach(function(photo){ %>
		    				<img style="max-width:400px; margin: 5px;" src="/club_uploads/<%= photo.src %>">
		    				<h5 style="text-overflow: ellipsis; max-width: 200px;white-space: nowrap;
	  						overflow: hidden; "><%= photo.name %></h5>
		    			<% }); %>
		    			<form id="uploadForm" enctype="multipart/form-data" method="POST" action="/clubs/addPhoto" >
							<input type="text" class="form-control" name="photoName" placeholder="catpic">
							<input type="file" class="form-control btn" name="userPhoto" style="margin-top: 4px;">
							<button type="submit" value="Upload Image" class="btn btn-success" style="margin: 10px;">Add Photo</button>	
					   	</form>			    		
		    		</div>
	    		</tr>
	    	</table>
	    </div>
    </div>

</div>
<% include ../layout/footer %>

<style type="text/css">
	.row {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:         flex;
	  flex-wrap: wrap;
	}
	.row > [class*='col-'] {
	  display: flex;
	  flex-direction: column;
	}
	.singleDepartment {
		margin-bottom: 30px;
	}
	.img-edit:hover img {
		cursor: pointer;
		filter: blur(5px);
		filter: brightness(50%);

	}
	.img-edit .text {
		position:relative;
		visibility:hidden;
		bottom: 150px;
		cursor: pointer;
		font-family: arial;
		font-weight: bold;
		font-size: 30px;
		color: white;
		text-align: center;
	}

	.img-edit:hover .text {
		visibility:visible;
	}
</style>

<link href="/css/rating.css" rel="stylesheet">

<script type="text/javascript">
	var h2s = document.getElementsByClassName('clickableh2');

	Array.prototype.forEach.call(h2s, function(el) {
	    el.onclick=function() {
			window.location = "/users/viewprofile/"+el.id;
		}
	});
	$("label").click(function(){
		$(this).parent().find("input").nextAll().css({"color": "#ddd"});
	  	$(this).css({"color": "#FFD700"});
	  	$(this).nextAll().css({"color": "#FFD700"});

	  	//.rating > input:checked ~ label, /* show gold star when clicked */

	  	var myelement = $(this).prev();

	  	console.log($(this).prev().val())
	  	var rating = myelement.val();
	  	var memberID = myelement.parent().parent().parent().find("h4").attr('id');
		var departmentName = myelement.parent().parent().parent().parent().attr('name');
		var departmentID = myelement.parent().parent().parent().parent().attr('id');
		var objID = myelement.parent().parent().parent().find("h4").attr('objid');
		var nestedType = myelement.parent().parent().parent().attr("nested");
		var newUrl;
		if(nestedType=="nested") {
			var subDepID = myelement.parent().parent().parent().parent().attr("id");
			newUrl = "/clubs/rateMember/"+departmentID+"/"+subDepID+"/"+memberID+"/"+objID+"/"+rating;
			console.log(newUrl)
		} else {
			newUrl = "/clubs/rateMember/"+departmentID+"/"+memberID+"/"+objID+"/"+rating;
		}
		window.location = newUrl;

		
	});


	  $("fieldset").each(function(i) {
	  	var rating = $(this).parent().attr('rating');
	    console.log(rating);
	    if(!rating)
	    	rating="0";
	    var inputElement = $(this).find("[value="+rating+"]");
	    $(this).find("input").nextAll().css({"color": "#ddd"});
	    inputElement.css({"color": "#FFD700"});
	  	inputElement.nextAll().css({"color": "#FFD700"});
	    console.log($(this).find("[value="+rating+"]").val());
	  });

	  $(".checkbox").click(function() {
	  	if($(this).attr('checkboxVal')=="false") {
	  		$(this).attr('checkboxVal', 'true');
	  		$(this).parent().find('.checkboxVal').val('true');
	  		$(this).parent().find('.checkboxVal').attr('value', 'true');
	  	} else {
	  		$(this).attr('checkboxVal', 'false');
	  		$(this).parent().find('.checkboxVal').val('false');
	  		$(this).parent().find('.checkboxVal').attr('value', 'false');
	  	}
	  });
	  $(".checkboxNested").click(function() {
	  	if($(this).attr('checkboxVal')=="false") {
	  		$(this).attr('checkboxVal', 'true');
	  		$(this).parent().find('.checkboxVal').val('true');
	  		$(this).parent().find('.checkboxVal').attr('value', 'true');

	  	} else {
	  		$(this).attr('checkboxVal', 'false');
	  		$(this).parent().find('.checkboxVal').val('false');
	  		$(this).parent().find('.checkboxVal').attr('value', 'false');
	  	}
	  });

	  
	  $(document).ready(function() {
	  	$('.showAddSub').click(function() {
	  	$(this).next().slideDown();
	  	$(this).fadeOut();
	  });
	  })

</script>