<% include layout/header %>



<div class="container" style="margin-left: auto; margin-right: auto; width: 800px; border: 2px solid black; align-self: center; margin-top: 100px; min-height: 50vh;">
	
	<a href="/offers/addOffer" style="color: white;">
		<button class="btn btn-lg btn-success" style="margin: 20px;">
			Add offer
		</button>
	</a>
</div>

<% include layout/footer %>
