
<% include layout/header %>

<% if(people!=null && people.length>0) { %>
	<div class="row col-lg-2">
	</div>
	<div class="row col-lg-10" style="align-self: center; padding-right: 20px; padding-left: 20px; padding-top: 0;">
		<% people.forEach(function(person) { %>
	        <div class="col-lg-2" style="margin-top: 40px; max-width: 190px; margin-right: 25px;">
	 	   		<img class="img-circle" src="/user_uploads/<%= person.photo %>" alt="Generic placeholder image" width="150" height="150" >
				<h2 class="clickableh2" id="<%= person.id %>" style="cursor:pointer; color:gray; align-self: center; overflow-wrap: break-word;"><%= person.name %></h2>
	        </div>

		<% });  %>    
	</div>
	<div class="row col-lg-2">
	</div>
<% } else { %>
	<h1>no users!</h1>
<% } %>

<% include layout/footer %>

<style type="text/css">
	.clickableh2:hover {
		color: blue;
		text-decoration: underline;
	}
	.row {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:         flex;
	  flex-wrap: wrap;
	}
	.row > [class*='col-'] {
	  display: flex;
	  flex-direction: column;
	}
</style>

<script type="text/javascript">
	var h2s = document.getElementsByClassName('clickableh2');

	Array.prototype.forEach.call(h2s, function(el) {
	    el.onclick=function(){
		window.location = "/users/viewprofile/"+el.id;
	}
	});

</script>