
<% include layout/header %>

<!-- <% if(people!=null && people.length>0) { %>
	<div class="row col-lg-2">
	</div>
	<div class="row col-lg-10" style="align-self: center; padding-right: 20px; padding-left: 20px; padding-top: 0;">
		<% people.forEach(function(person) { %>
	        <div class="col-lg-2" style="margin-top: 40px; max-width: 190px; margin-right: 25px;">
	 	   		<img class="img-circle" src="/user_uploads/<%= person.photo %>" alt="Generic placeholder image" width="150" height="150" >
				<h2 class="clickableh2" id="<%= person.id %>" style="cursor:pointer; color:gray; align-self: center; overflow-wrap: break-word;"><%= person.name %></h2>
	        </div>

		<% });  %>    
	</div>
	<div class="row col-lg-2">
	</div>
<% } else { %>
	<h1>no users!</h1>
<% } %> -->


<div class="container studentsDiv">
	<div class="searchDiv" style="margin-right: auto; margin-left: auto;">
		<br>
		<h1>Search</h1>
		<br>
		<input type="text" class="form-control" name="searchTerm" placeholder="mohab amr" style="height: 60px; float: left; width: 80%;" id="searchInput">
		<button class="btn btn-success btn-lg" style="float: right; height: 60px; width: 20%;" id="searchBtn">Seacrh</button>
	</div>
	<div style="margin-top: 150px; font-size: 20px;x">
		<table style="width: 100%;">
			<thead>
				<tr>
					<th style="width: 10%;">#</th>
					<th style="width: 20%;">name</th>
					<th style="width: 30%;">Skills</th>
					<th style="width: 20%;">Club</th>
					<th style="width: 20%;">Avg. Rating</th>
				</tr>
			</thead>
			<tbody id="studentsBody">
				
			</tbody>
		</table>
	</div>
</div>
<% include layout/footer %>

<style type="text/css">
	.clickableh2:hover {
		color: blue;
		text-decoration: underline;
	}
	.row {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:         flex;
	  flex-wrap: wrap;
	}
	.row > [class*='col-'] {
	  display: flex;
	  flex-direction: column;
	}
</style>

<script type="text/javascript">
	$('#searchBtn').click(function() {
		var searchTerm = $('#searchInput').val();
		getSearchResult(searchTerm);

	});
	$.fn.enterKey = function(fnc) {
	    return this.each(function () {
	        $(this).keypress(function (ev) {
	            var keycode = (ev.keyCode ? ev.keyCode : ev.which);
	            if (keycode == '13') {
	                fnc.call(this, ev);
	            }
	        })
	    })
	}
	$("#searchInput").enterKey(function() {
	    var searchTerm = $('#searchInput').val();
		getSearchResult(searchTerm);
	});
	var getSearchResult = function(searchTerm) {
		$.get('/search/'+searchTerm, function(data) {
			console.log(JSON.stringify(data));
			$('#studentsBody').html("");
			var html = "";
			if(data==null || data.length==0) {
				html += "<h3 style=\"width: 100%;\">No students found matching your search!</h3>";
				$('thead').after(html);
				return;
			} else {
				data.forEach(function(student, index) {
					html += '<tr><td  style=\"width: 10%;\">'+(index+1)+'</td>'
						+ '<td style=\"width: 20%;\">'+student.name+'</td>'
						+ '<td  style=\"width: 30%;\">';
						student.tags.forEach(function(tag, index) {
							html += tag;
							if(index<student.tags.length-1)
								html += ' - ';
						});
						html += '</td>';
				});
			}
			
			$('#studentsBody').append(html);
		});
	}
</script>