
<% include layout/header %>

<% if(people!=null && people.length>0) { %>
		<div class="row" style="padding: 20px;">
	<% people.forEach(function(person) { %>
        <div class="col-lg-2" style="margin-top: 40px; max-width: 190px; margin-right: 25px;">
 	   		<img class="img-circle" src="/user_uploads/<%= person.photo %>" alt="Generic placeholder image" width="150" height="150" >
			<h2 class="clickableh2" id="<%= person.id %>" style="cursor:pointer; color:gray; text-align: center;"><%= person.name %></h2>
        </div>

	<% });  %>    
	</div>

	<% } else { %>
	 <h1>no users!</h1>
	 <% } %>
</div>


</body>
</html>

<style type="text/css">
	.clickableh2:hover {
		color: blue;
		text-decoration: underline;
	}
	.row {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:         flex;
	  flex-wrap: wrap;
	}
	.row > [class*='col-'] {
	  display: flex;
	  flex-direction: column;
	}
</style>
<script type="text/javascript">
	var h2s = document.getElementsByClassName('clickableh2');

	Array.prototype.forEach.call(h2s, function(el) {
    // Do stuff here
	    el.onclick=function(){
		window.location = "/users/viewprofile/"+el.id;
	}
	});

</script>