<% include layout/header %>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <br>
      <h2>Register</h2>
      <hr class="star">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <form method="post" action="/users/signup">
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="inputName" class="">Name</label>
            <input type="text" id="inputName" class="form-control" placeholder="Name" name="name" required data-validation-required-message="Please enter your email address.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="email">Email Address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" name="email" required data-validation-required-message="Please enter your email address.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group" id="idDiv">
          <div class="form-group col-xs-12 floating-label-form-group controls" id="idDivChild">
            <label for="inputGUCID" class="">GUC ID</label>
            <input type="text" id="inputGUCID" class="form-control" placeholder="ex: 34-5862" name="gucid" required autofocus data-validation-required-message="Please enter your GUC-ID.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="inputUsername" class="">Username</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required data-validation-required-message="Please choose unique username.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="inputPassword" class="">Password</label>
               <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required data-validation-required-message="Please enter strong password.">
              <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="inputPassword" class="">Confirm password</label>
              <input type="password" id="inputPassword2" class="form-control" placeholder="Confirm Password" name="confirmpassword" required data-validation-required-message="Please enter matching password.">
              <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 controls" style="font-size: 1.5em;">
            <br>
            <label for="sel1">Select a type:</label>
            <select class="form-control" id="userType" name="type" required>
              <option value="" disabled selected style="display:none;">choose</option>
              <option value="student">Student</option>
              <option value="club">Club</option>
            </select>
          </div>
        </div> 
        <hr> 
        <div class="row control-group" id="birthdateDiv">
          <div class="form-group col-xs-12 controls" style="font-size: 1.5em;" id="birthdateDivChlid">
            <label for="sel2">Birthdate:</label>
            <input type="date" id= "birthdateInput" name="birthdate" class="form-control" required data-validation-required-message="Please enter your birthdate.">
          </div>
        </div>
        <hr>
        <div class="row control-group" id="majorDiv">
          <div class="form-group col-xs-12 controls" style="font-size: 1.5em;"  id="majorDivChild">
            <label for="sel2">Select a major:</label>
            <select class="form-control" id="major" name="major" required>
              <option value="" disabled selected style="display:none;">choose</option>
              <option value="met">MET</option>
              <option value="iet">IET</option>
              <option value="mecha">Mechatronics</option>
              <option value="production">Production</option>
            </select>
          </div>
        </div>
        <hr>
        <div class="row control-group" id="yearDiv">
          <div class="form-group col-xs-12 controls" style="font-size: 1.5em;">
            <label for="sel2">Select a year:</label>
            <select class="form-control" name="year" id="yearInput">
              <option value="" disabled selected style="display:none;">choose</option>
              <option value="1st">1st</option>
              <option value="2nd">2nd</option>
              <option value="3rd">3rd</option>
              <option value="4th">4th</option>
              <option value="5th">5th</option>
            </select>
          </div>
        </div>
        <hr>                     
        <br>
        <div class="row">
          <div class="form-group col-xs-12">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
          </div>
        </div>
      </form>
      <br>
      <button class="btn btn-lg btn-block" onclick="redirectSignIn();">Sign In</button>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/home_scripts/signUp.js"></script>

<% include layout/footer %>
