body {
	color: #333;
}

.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	flex-wrap: wrap;
	color: white;
}
.row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.clubprofile .jumbotron, .normalprofile .jumbotron, .editProfile .jumbotron {
	background-color: inherit;
	color: white;
}

.editclubstructre {
	background-color: inherit;
	color: white;
}

.email {
	text-decoration: ;
	cursor:pointer;
	color:blue;
	text-align: center;
}

.eventLabel {
	color: white;
}

.intro {
	display: flex;
	width: 100%;
	min-height: 250px;
}

.intro .profileimg {
	margin-left: 150px;
	position: relative;
	max-width: 	300px;
	max-height: 80%;
	min-width: 200px;
}

.deps {
	white-space: nowrap;
    width: 100%;
    overflow-x: hidden;
    display: flex;

}

.deps > div {  
    margin: 10px;
    margin-right: 30px;
    display: inline-block;
    /* for IE6/7, remove if you don't need to support those browsers */
    *display: inline;
    zoom: 1;
}

