

</div>



      <footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <div class="container">
        <div class="navbar-header" style="float: left;">
          <a style="font-size: 15px;" class="navbar-brand" href="/">Dashboard</a>
        </div>
        <span style="color: #9d9d9d; float: right; margin: 10px;">© Copyright Community 2013 - 2017</span>

      </div>
    </div>
  </footer>
	</body>
</html>