<fieldset class="rating">
	<input type="radio" id="field2_star5" name="rating2" value="5"/>
	<label class = "full ratingLabel" for="field2_star5"></label>

    <input type="radio" id="field2_star4" name="rating2" value="4"/>
    <label class = "full ratingLabel" for="field2_star4"></label>

    <input type="radio" id="field2_star3" name="rating2" value="3"/>
    <label class = "full ratingLabel" for="field2_star3"></label>

    <input type="radio" id="field2_star2" name="rating2" value="2"/>
    <label class = "full ratingLabel" for="field2_star2"></label>
    
    <input type="radio" id="field2_star1" name="rating2" value="1"/>
    <label class = "full ratingLabel" for="field2_star1"></label>
</fieldset>